<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.mapper.TestMapper">

	<!-- Mybatis 동적 태그 : if, choose(when,otherwise), trim(where,set), foreach -->
	
	<!-- if : 세개중 하나에 해당할 수도 있고 복수의 갯수의 해당할 수 있음 -->
	<!-- 	<if test="type=='T'.toString()">
			(title like '%'||#{keyword}||'%')
		</if>
			<if test="type=='C'.toString()">
			(content like '%'||#{keyword}||'%')
		</if>
			<if test="type=='W'.toString()">
			(writer like '%'||#{keyword}||'%')
		</if> -->
	
	
	<!-- if-else if 구조 : 여러개 중 하나만 동작 -->
	<!-- when은 if-else if, otherwise는 else -->
	<!-- <choose>
		<when test="type=='T'.toString()">
			(title like '%'||#{keyword}||'%')
		</when>
		<when test="type=='C'.toString()">
			(content like '%'||#{keyword}||'%')
		</when>
		<when test="type=='W'.toString()">
			(writer like '%'||#{keyword}||'%')
		</when>
		
		<otherwise>
			(title like '%'||#{keyword}||'%' or content like '%'||#{keyword}||'%' )
		</otherwise>
	</choose> -->
	
	
	<!-- trim, where, set : 단독으로는 사용불가, if, choose와 함께 사용 -->
	<select id="">
		select * from spring_board
		<where>
			<!-- bno가 null이면 select * from spring_board
			bno가 null이 아니면 select * from spring_board where bno = #{bno} -->
			<if test="bno != null">
				bno = #{bno}
			</if>
		</where>
	</select>
	
	<!-- trim : 태그의 내용을 앞의 내용과 관련되어 원하는 접두/접미사 처리 -->
		<select id="">
		select * from spring_board
		<where>
			<!-- bno가 null이면 select * from spring_board where rownum=1
			bno가 null이 아니면 select * from spring_board where bno = #{bno}
								and rownum=1 -->
			<if test="bno != null">
				bno = #{bno}
			</if>
			<trim prefixOverrides="and">
				rownum = 1
			
			</trim>
		</where>
	</select>
	
	
	<!-- foreach : List, 배열, 맵 형태의 데이터를 루프를 통해 처리 
	
		Map<String, String> map = new HashMap<>();
		map.put("T","TTTT");
		map.put("C","CCCC");
		
	-->
	<!-- select * from spring_board where (title = #{val} or content = #{val})
	: 들어오는 #{val}은 ?로 처리됨
	: prefixOverrides="OR" => or가 들어와야하는 상황이면 들어가고 아니면 들어가지 않음
	-->
	<select id="">
		select * from spring_board
		
		<trim prefix="where (" suffix=")" prefixOverrides="OR">
			<foreach collection="map" item="val" index="key">
				<trim prefix="OR">
					<if test="key=='T'.toString()">
						title = #{val}
					</if>
						<if test="key=='C'.toString()">
						content = #{val}
					</if>
						<if test="key=='W'.toString()">
						writer = #{val}
					</if>
				</trim>
			</foreach>
		</trim>
	</select>
	
	
	
	
</mapper>




















